<script>
  import Unibar from '@talamh/unibar'
</script>

<style>
  @import '@talamh/colors';
  @import '@talamh/rosmorris';

  :global(body) {
    background-color: var(--shade-01);
    font-family: var(--rosmorris);
  }
</style>

<Unibar name="world" />

<main>
  <slot />
</main>
