<script>
  import Article from './_components/Article.svelte'
  import Aside from './_components/Aside.svelte'
  import Content from './_components/Content.svelte'
  import Facts from './_components/Facts.svelte'
  import Footer from './_components/Footer.svelte'
  import Header from './_components/Header.svelte'
</script>

<svelte:head>
  <title>talamh.world</title>
</svelte:head>

<Article>
  <Header />
  <Content />
  <Aside />
  <Facts />
  <Footer />
</Article>
