<style>
  @import '@talamh/colors';

  svg {
    height: var(--size-06);
    width: var(--size-06);
  }

  path {
    stroke: var(--shade-01);
    stroke-width: rem(0.5px);
  }
</style>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.525 9.525">
  <g fill="none">
    <path
      d="M4.763 0v3.89M4.763 2.412L6.427.3M4.77 1.565L3.725.118M4.764 3.303l-.97-.886M3.934
      9.441c.04-1.586.161-4.885.161-4.885L.832 2.066M5.536 4.469l.07 4.97M5.456 6.442L9.482 4.11M3.247
      3.884L2.73.454M2.97 1.866L1.463 1.34M2.333 3.211l-2.086.03M4.006 6.594L.05 4.064M2.949 5.92l-.654-1.796M1.877
      5.225l-1.813.309M6.638 5.766l.685-1.746M7.78 5.104l1.388.505M4.998 4.903L8.702 2.07M6.945 3.411l2.382-.006M6.183
      4.011L6.978.55M6.662 1.924l1.468-.53" />
  </g>
</svg>
