<script>
  import { _ } from '@talamh/i18n'

  import Icon from './Icon.svelte'

  export let name
</script>

<style>
  @import '@talamh/colors';
  @import '@talamh/rosmorris';
  @import '@talamh/sizing';

  a {
    color: var(--shade-02);
    text-decoration: none;
  }

  a:hover {
    color: var(--shade-05);
  }

  h1 {
    align-items: center;
    display: grid;
    grid-column-gap: var(--size-04);
    grid-template-columns: var(--size-06) 1fr;
    font-size: rem(16px);
    font-variation-settings: 'wdth' 50, 'wght' 600;
    margin: 0;
    text-transform: uppercase;
  }

  li + li {
    margin-left: rem(14px);
  }

  nav {
    align-items: center;
    background-color: var(--shade-17);
    color: var(--shade-01);
    display: flex;
    font-family: var(--rosmorris);
    height: var(--size-07);
    justify-content: space-between;
    padding: 0 var(--size-05);
  }

  ul {
    display: flex;
    font-size: rem(14px);
    font-variation-settings: 'wdth' 50, 'wght' 500;
    list-style: none;
    margin: 0;
    line-height: var(--size-07);
  }
</style>

<nav>
  <a href="/">
    <h1>
      <Icon />
      <span>{name}</span>
    </h1>
  </a>

  <ul>
    <li>
      <a href="/">{$_('common.register')}</a>
    </li>

    <li>
      <a href="/">{$_('common.signIn')}</a>
    </li>
  </ul>
</nav>
