:root {
  --size-01: rem(2px);
  --size-02: rem(3px);
  --size-03: rem(5px);
  --size-04: rem(8px);
  --size-05: rem(14px);
  --size-06: rem(22px);
  --size-07: rem(36px);
  --size-08: rem(58px);
  --size-09: rem(94px);
  --size-10: rem(152px);
  --size-11: rem(246px);
  --size-12: rem(398px);
  --size-13: rem(644px);
  --size-14: rem(1042px);
  --size-15: rem(1686px);
  --size-16: rem(2728px);
  --size-17: rem(4414px);
  --size-18: rem(7142px);
  --size-19: rem(11556px);

  --size-01-px: 2px;
  --size-02-px: 3px;
  --size-03-px: 5px;
  --size-04-px: 8px;
  --size-05-px: 14px;
  --size-06-px: 22px;
  --size-07-px: 36px;
  --size-08-px: 58px;
  --size-09-px: 94px;
  --size-10-px: 152px;
  --size-11-px: 246px;
  --size-12-px: 398px;
  --size-13-px: 644px;
  --size-14-px: 1042px;
  --size-15-px: 1686px;
  --size-16-px: 2728px;
  --size-17-px: 4414px;
  --size-18-px: 7142px;
  --size-19-px: 11556px;
}
