:root {
  --westward-quay: 'Westward Quay', sans-serif;
}

@font-face {
  font-family: 'Westward Quay';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  src: url('../dist/WestwardQuay.woff2') format('woff2-variations');
}
