:root {
  --crauxford: 'Crauxford', sans-serif;
}

@font-face {
  font-family: 'Crauxford';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  src: url('../dist/Crauxford.woff2') format('woff2-variations');
}
/* 
@font-face {
  font-family: 'Crauxford';
  font-stretch: 100%;
  font-style: italic;
  font-weight: 400;
  src: url('../dist/Crauxford-Italic.woff2') format('woff2-variations');
} */
