<script>
  import FloatingMenu, { Group, Item, Menu, SelectionGroup, SubmenuItem, ToggleItem } from '@talamh/floating-menu'
  import { _ } from '@talamh/i18n'
  import { createEventDispatcher } from 'svelte'

  export let font = 'serif'

  let inFocusMode = false
  let isFullscreen = false
  let isShowingSubsections = true

  const dispatch = createEventDispatcher()

  function handleDeleteSection() {
    alert('Delete')
  }

  function handleShowSubsections({ detail }) {
    isShowingSubsections = detail
  }

  function handleFontChange({ detail }) {
    dispatch('fontchange', detail)
  }
</script>

<FloatingMenu label="Editor Options">
  <Group>
    <ToggleItem
      checked={isShowingSubsections}
      label={$_('pub.menu.showSubsections')}
      on:toggle={handleShowSubsections} />
    <ToggleItem checked={isFullscreen} label={$_('pub.menu.enterFullscreen')} />
    <SubmenuItem label={$_('pub.menu.changeEditorFont')} let:hidden let:id>
      <Menu {id}>
        <SelectionGroup
          on:change={handleFontChange}
          options={{ [$_('pub.menu.serif')]: 'serif', [$_('pub.menu.sansSerif')]: 'sans-serif', [$_('pub.menu.monospace')]: 'monospace' }}
          selected={font} />
      </Menu>
    </SubmenuItem>
  </Group>

  <Group>
    <Item label={$_('pub.menu.focusMode')} />
  </Group>

  <Group>
    <Item label={$_('pub.menu.exportContent')} />
    <Item danger label={$_('pub.menu.deleteSection')} on:click={handleDeleteSection} />
  </Group>
</FloatingMenu>
