<script>
  import { createEventDispatcher, onMount } from 'svelte'

  let item
  let tabindex = 0

  //
  // Forward clicks and put focus on controller item
  // ----------------------------------------------------------------------------------------------

  const dispatch = createEventDispatcher()
  function handleClick(event) {
    dispatch('click', event)
  }

  //
  // Keep track of where to allow focus or not
  // ----------------------------------------------------------------------------------------------

  onMount(() => {
    const menu = item.parentElement.parentElement
    if (!menu) return

    tabindex = menu.getAttribute('aria-hidden') === 'true' ? -1 : 0

    const observer = new MutationObserver(mutations => {
      for (const mutation of mutations) {
        if (mutation.attributeName === 'aria-hidden') {
          tabindex = menu.getAttribute('aria-hidden') === 'true' ? -1 : 0
        }
      }
    })

    observer.observe(menu, { attributes: true })
    return () => observer.disconnect()
  })
</script>

<style>
  @import '@talamh/sizing';

  button {
    align-items: center;
    background: none;
    border: none;
    color: var(--shade-13);
    display: flex;
    flex-grow: 1;
    cursor: default;
    justify-content: flex-start;
    margin: 0;
    padding: 0 var(--size-03);
  }

  li {
    align-items: stretch;
    display: flex;
    height: var(--size-06);
    line-height: var(--size-06);
  }

  path {
    fill: var(--shade-10);
  }

  button:hover path {
    fill: var(--shade-13);
  }

  span {
    color: var(--shade-12);
    display: block;
    flex-grow: 1;
    font-family: var(--rosmorris);
    font-size: rem(13px);
    font-variation-settings: 'opsz' 12, 'wght' 400;
    padding-bottom: rem(1px); /* Text does not look centered without this */
    text-align: left;
  }

  button:hover span {
    color: var(--shade-15);
  }

  svg {
    height: var(--size-04);
    margin-right: var(--size-03);
    width: var(--size-03);
  }
</style>

<li bind:this={item} role="none">
  <button on:click={handleClick} role="menuitem" {tabindex}>
    <svg viewBox="0 0 5 8">
      <path
        d="M4.193 0a.803.803 0 01.573.219.766.766 0 010 1.103L1.925 3.999l2.841 2.678a.766.766 0 010 1.103.806.806 0
        01-1.107 0L.234 4.55a.767.767 0 010-1.102L3.659.218A.803.803 0 014.19 0z" />
    </svg>

    <span>Back</span>
  </button>
</li>
