<script>
  import { afterUpdate, createEventDispatcher, onMount } from 'svelte'

  export let controls
  export let expanded = false

  let button

  //
  // Toggle when clicked
  // ----------------------------------------------------------------------------------------------

  const dispatch = createEventDispatcher()
  function handleClick(event) {
    event.stopPropagation()
    dispatch('toggle', expanded)
  }

  //
  // Focus first menu item when menu is expanded
  // ----------------------------------------------------------------------------------------------

  afterUpdate(() => {
    if (expanded && button === document.activeElement) {
      const firstItem = document.querySelector(`#${controls} [role^='menuitem']`)
      if (firstItem) firstItem.focus()
    }
  })

  //
  // Dismiss menu when escape key is pressed
  // ----------------------------------------------------------------------------------------------

  function handleKeyDown(event) {
    if (expanded && (event.key === 'Escape' || event.key === 'Esc')) {
      dispatch('toggle', expanded)
      if (button) button.focus()
    }
  }

  onMount(() => {
    window.addEventListener('keydown', handleKeyDown)
    return () => window.removeEventListener('keydown', handleKeyDown)
  })

  //
  // Dismiss menu when clicked outside of the menu
  // ----------------------------------------------------------------------------------------------

  function handleWindowClick() {
    if (expanded) dispatch('toggle', expanded)
  }

  onMount(() => {
    window.addEventListener('click', handleWindowClick)
    return () => window.removeEventListener('click', handleWindowClick)
  })
</script>

<style>
  @import '@talamh/sizing';

  button {
    align-items: center;
    background-color: var(--shade-02);
    border: var(--shade-07) 1px solid;
    border-radius: 50%;
    box-shadow: color-mod(var(--shade-10) alpha(36%)) 0 rem(2px) rem(4px);
    bottom: var(--size-07);
    display: flex;
    height: var(--size-07);
    justify-content: center;
    padding: 0;
    position: fixed;
    right: var(--size-07);
    transition: border-color 350ms ease-out-circ, box-shadow 350ms ease-out-circ;
    width: var(--size-07);
    -moz-outline-radius: 50%;
  }

  button:hover {
    border-color: var(--shade-08);
    box-shadow: color-mod(var(--shade-10) alpha(58%)) 0 rem(3px) rem(5px);
  }

  button[aria-expanded='true'] {
    border-color: var(--shade-08);
    box-shadow: color-mod(var(--shade-10) alpha(58%)) 0 rem(3px) rem(5px);
  }

  svg {
    height: var(--size-06);
    outline: none;
    width: var(--size-06);
  }

  path {
    fill: var(--shade-10);
  }

  button:hover path,
  button[aria-expanded='true'] path {
    fill: var(--shade-12);
  }
</style>

<button
  aria-controls={controls}
  aria-expanded={expanded}
  aria-haspopup="true"
  bind:this={button}
  on:click={handleClick}>
  {#if expanded}
    <svg viewBox="0 0 22 22">
      <path
        d="M13.467 11l4-4A1.745 1.745 0 1015 4.533l-4 4-4-4A1.745 1.745 0 104.533 7l4 4-4 4A1.745 1.745 0 107 17.467l4-4
        4 4c.34.341.787.512 1.234.512A1.745 1.745 0 0017.467 15z" />
    </svg>
  {:else}
    <svg viewBox="0 0 22 22">
      <path d="M19 8c-4 0-4 6 0 6s4-6 0-6zM3 8c-4 0-4 6 0 6s4-6 0-6z" />
      <path d="M11.318 8c-4 0-4 6 0 6s4-6 0-6z" />
    </svg>
  {/if}
</button>
