<script>
  import { afterUpdate, getContext } from 'svelte'
  import { cubicOut } from 'svelte/easing'
  import { tweened } from 'svelte/motion'

  export let hidden = true

  //
  // Keep track of which menu is "current" and adjust the height accordingly
  // ----------------------------------------------------------------------------------------------

  const stack = getContext('@$stack')
  $: [current] = $stack

  let height = tweened(0, { duration: 150, easing: cubicOut })
  afterUpdate(() => {
    if (!current) return

    const el = document.getElementById(current)
    if (!el) return

    const rect = el.getBoundingClientRect()
    height.update(() => rect.height)
  })

  //
  // Add a nice animation when expanded and collapsed
  // ----------------------------------------------------------------------------------------------

  let opacity = tweened(0, { duration: 150, easing: cubicOut })
  let translateY = tweened(10, { duration: 150, easing: cubicOut })
  let visibility = 'hidden'
  $: {
    if (hidden) {
      opacity.update(() => 0)
      translateY.update(() => 10)
      setTimeout(() => (visibility = 'hidden'), 150)
    } else {
      opacity.update(() => 1)
      translateY.update(() => 0)
      visibility = 'visible'
    }
  }

  //
  // Make sure that nested click handlers don't close the menu
  // -------------------------------------------------------------------------------------------------

  function handleClick(event) {
    event.stopPropagation()
  }
</script>

<style>
  @import '@talamh/sizing';

  div {
    background-color: var(--shade-01);
    border: var(--shade-08) solid rem(1px);
    border-radius: var(--size-03);
    bottom: var(--size-09);
    box-shadow: color-mod(var(--shade-10) alpha(58%)) 0 rem(2px) rem(12px) 0;
    cursor: default;
    overflow: hidden;
    position: fixed;
    right: var(--size-07);
    user-select: none;
    width: var(--size-11);
    will-change: height, opacity, transform;
  }
</style>

<div
  class:hidden
  on:click={handleClick}
  role="none"
  style="height: {$height}px; opacity: {$opacity}; transform: translateY({$translateY}px); visibility: {visibility}">
  <slot />
</div>
