<script>
  export let label = null
</script>

<style>
  @import '@talamh/sizing';

  ul {
    border-bottom: var(--shade-05) solid 1px;
    list-style: none;
    margin: 0;
    padding: var(--size-03);
  }

  ul:last-of-type {
    border-bottom: 0;
  }
</style>

<ul aria-label={label} role="group">
  <slot />
</ul>
