<script context="module">
  import Group from './Group.svelte'
  import Item from './Item.svelte'
  import Menu from './Menu.svelte'
  import SelectionGroup from './SelectionGroup.svelte'
  import SubmenuItem from './SubmenuItem.svelte'
  import ToggleItem from './ToggleItem.svelte'

  export { Group, Item, Menu, SelectionGroup, SubmenuItem, ToggleItem }
</script>

<script>
  import nanoid from 'nanoid'
  import { setContext } from 'svelte'
  import { writable } from 'svelte/store'

  import Button from './Button.svelte'
  import Floater from './Floater.svelte'

  const id = `talamh-${nanoid(7)}`

  const stack = writable([id])
  setContext('@$stack', stack)

  let expanded = false

  function handleToggle() {
    expanded = !expanded
    if (!expanded) setTimeout(() => stack.update(() => [id]), 150)
  }
</script>

<Button controls={id} {expanded} on:toggle={handleToggle} />
<Floater hidden={!expanded}>
  <Menu {id} role="menubar">
    <slot />
  </Menu>
</Floater>
