<script>
  import nanoid from 'nanoid'
  import { createEventDispatcher, onMount } from 'svelte'

  export let danger = false
  export let label
  export let props = {}
  export let role = 'menuitem'

  //
  // Click event forwarder
  // ----------------------------------------------------------------------------------------------

  const dispatch = createEventDispatcher()
  function handleClick(event) {
    dispatch('click', event)
  }

  //
  // Keep track of where to allow focus or not
  // ----------------------------------------------------------------------------------------------

  let item
  let tabindex = 0

  onMount(() => {
    const menu = item.parentElement.parentElement

    tabindex = menu.getAttribute('aria-hidden') === 'true' ? -1 : 0

    const observer = new MutationObserver(mutations => {
      for (const mutation of mutations) {
        if (mutation.attributeName === 'aria-hidden') {
          tabindex = menu.getAttribute('aria-hidden') === 'true' ? -1 : 0
        }
      }
    })

    observer.observe(menu, { attributes: true })
    return () => observer.disconnect()
  })

  //
  // Handle items that control other items
  // ----------------------------------------------------------------------------------------------

  function handleKeyDown(event) {
    if (event.key === 'ArrowRight' && event.currentTarget.getAttribute('aria-controls')) {
      event.stopPropagation()
      handleClick()
    }
  }
</script>

<style>
  @import '@talamh/rosmorris';
  @import '@talamh/sizing';

  li {
    align-items: stretch;
    display: flex;
    height: var(--size-07);
    line-height: var(--size-07);
  }

  button {
    align-items: center;
    background: none;
    border: none;
    border-radius: var(--size-03);
    color: var(--shade-13);
    cursor: default;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    margin: 0;
    padding: 0 var(--size-03);
  }

  button:hover {
    background-color: var(--shade-03);
  }

  button.danger {
    color: var(--red);
  }

  span {
    display: block;
    flex-grow: 1;
    font-family: var(--rosmorris);
    font-size: rem(14px);
    font-variation-settings: 'opsz' 12, 'wght' 400;
    text-align: left;
  }
</style>

<li bind:this={item} role="none">
  <button class:danger on:click={handleClick} on:keydown={handleKeyDown} {...props} {role} {tabindex}>
    <span>{label}</span>
    <slot name="decoration" />
  </button>

  <slot />
</li>
