<script>
  import nanoid from 'nanoid'
  import { getContext, onMount, setContext } from 'svelte'
  import { readable } from 'svelte/store'

  import BackItem from './BackItem.svelte'
  import Group from './Group.svelte'

  export let id
  export let role = 'menu'

  let menu

  //
  // Figure out where we are in the menu stack
  // ----------------------------------------------------------------------------------------------

  const stack = getContext('@$stack')

  let pushed = false
  const submenu = role === 'menu'

  $: [current, ...rest] = $stack
  $: pushed = rest.includes(id)

  //
  // Handle the back button
  // ----------------------------------------------------------------------------------------------

  function handleClick() {
    stack.update(([_, ...rest]) => rest)

    const controller = document.querySelector(`[aria-controls='${id}']`)
    if (controller) controller.focus()
  }

  //
  // Handle keyboard navigation
  // -----------------------------------------------------------------------------------------------

  function handleKeyDown(event) {
    if (id !== current) return

    const item = document.querySelector(`#${id} [role^='menuitem']:focus`)
    if (!item) return

    const parent = item.parentElement
    if (!parent) return

    switch (event.key) {
      case 'ArrowDown':
        if (parent.nextElementSibling) {
          event.stopPropagation()
          parent.nextElementSibling.firstChild.focus()
        } else {
          if (!parent.parentElement.nextElementSibling) break

          const next = parent.parentElement.nextElementSibling.firstElementChild
          if (next) {
            event.stopPropagation()
            next.firstElementChild.focus()
          }
        }
        break

      case 'ArrowLeft':
        if (!submenu) break

        event.stopPropagation()
        handleClick() // Fire the back button click handler
        break

      case 'ArrowUp':
        if (parent.previousElementSibling) {
          event.stopPropagation()
          parent.previousElementSibling.firstChild.focus()
        } else {
          if (!parent.parentElement.previousElementSibling) break

          const prev = parent.parentElement.previousElementSibling.lastElementChild
          if (prev) {
            event.stopPropagation()
            prev.firstElementChild.focus()
          }
        }
        break

      case 'End':
        const last = menu.lastElementChild.lastElementChild
        if (!last) break

        event.stopPropagation()
        last.firstElementChild.focus()
        break

      case 'Home':
        const first = menu.firstElementChild.firstElementChild
        if (!first) break

        event.stopPropagation()
        first.firstElementChild.focus()
        break
    }
  }

  onMount(() => {
    menu.addEventListener('keydown', handleKeyDown)
    return () => menu.removeEventListener('keydown', handleKeyDown)
  })
</script>

<style>
  @import '@talamh/sizing';

  div {
    background-color: var(--shade-01);
  }

  div {
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 100ms ease-out-cubic;
    width: var(--size-11);
    will-change: transform;
  }

  div.pushed {
    transform: translateX(calc(0 - var(--size-11)));
  }

  div.submenu {
    transform: translateX(var(--size-11));
  }
</style>

<div aria-hidden={id !== current} bind:this={menu} class:pushed class:submenu {id} {role}>
  <slot />

  {#if submenu}
    <Group>
      <BackItem on:click={handleClick} />
    </Group>
  {/if}
</div>
