<script>
  import { createEventDispatcher } from 'svelte'

  import Group from './Group.svelte'
  import ToggleItem from './ToggleItem.svelte'

  export let options = []
  export let selected

  $: labels = Object.keys(options)

  const dispatch = createEventDispatcher()
  function handleToggle(option) {
    return () => dispatch('change', option)
  }
</script>

<Group>
  {#each labels as label}
    <ToggleItem
      checked={options[label] === selected}
      {label}
      on:toggle={handleToggle(options[label])}
      role="menuitemradio" />
  {/each}
</Group>
