<script>
  import nanoid from 'nanoid'
  import { getContext } from 'svelte'

  import Item from './Item.svelte'

  export let label

  const id = `talamh-${nanoid(7)}`
  const props = { 'aria-controls': id, 'aria-haspopup': true }
  const stack = getContext('@$stack')

  function handleClick() {
    stack.update(ids => [id, ...ids])

    const firstItem = document.querySelector(`#${id} [role^='menuitem']`)
    if (firstItem) firstItem.focus()
  }
</script>

<style>
  @import '@talamh/sizing';

  svg {
    height: var(--size-04);
    width: var(--size-93);
  }

  path {
    fill: var(--shade-12);
  }
</style>

<Item {label} on:click={handleClick} {props}>
  <svg role="presentation" slot="decoration" viewBox="0 0 5 8">
    <path
      d="M.807 0A.803.803 0 00.234.22a.766.766 0 000 1.103l2.841 2.677L.234 6.677a.766.766 0 000 1.103.806.806 0 001.107
      0l3.425-3.23a.767.767 0 000-1.102L1.341.218A.803.803 0 00.81 0z" />
  </svg>

  <slot {id} />
</Item>
