<script>
  import { createEventDispatcher } from 'svelte'

  import Item from './Item.svelte'

  export let checked = false
  export let label
  export let role = 'menuitemcheckbox'

  $: hidden = !checked
  $: props = { 'aria-checked': checked }

  const dispatch = createEventDispatcher()
  function handleClick() {
    dispatch('toggle', !checked)
  }
</script>

<style>
  @import '@talamh/sizing';

  svg {
    height: var(--size-04);
    width: var(--size-05);
  }

  svg[hidden='true'] {
    opacity: 0;
  }

  path {
    fill: var(--green);
  }
</style>

<Item {label} on:click={handleClick} {props} {role}>
  <div slot="decoration">
    <svg {hidden} role="presentation" viewBox="0 0 14 8">
      <path
        d="M13.084 0a.937.937 0 00-.61.209l-7.13 5.763L1.32 4.166a.937.937 0 00-1.238.47.937.937 0 00.47 1.239L5.1
        7.917a.937.937 0 00.974-.126l7.578-6.125a.937.937 0 00.139-1.318.937.937 0 00-.707-.348z" />
    </svg>
  </div>
</Item>
