:root {
  --teorann: 'Teorann', sans-serif;
}

@font-face {
  font-family: 'Teorann';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  src: url('../dist/Teorann.woff2') format('woff2-variations');
}
