<script>
  import { dictionary } from '@talamh/i18n'
  import Unibar from '@talamh/unibar'

  import strings from '../strings'

  dictionary.update(dict => {
    return Object.entries(strings).reduce((acc, [lng, str]) => {
      return { ...acc, [lng]: { ...acc[lng], ...str } }
    }, dict)
  })
</script>

<style>
  @import '@talamh/colors';
  @import '@talamh/rosmorris';
  @import '@talamh/sizing';

  :global(*) {
    box-sizing: border-box;
  }

  :global(body) {
    background-color: var(--shade-01);
    font-family: var(--rosmorris);
  }

  main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--size-07));
  }
</style>

<Unibar name="pub" />

<main>
  <slot />
</main>
