<script>
  import { onMount } from 'svelte'

  import Editor from '@talamh/editor'

  import Menu from './_components/Menu.svelte'

  //
  // Handle updating the editor's font
  // ----------------------------------------------------------------------------------------------

  const STORAGE_KEY = '@@editor-font'

  let font = 'serif'
  onMount(() => {
    font = window.localStorage.getItem(STORAGE_KEY) || 'serif'
  })

  function handleFontChange({ detail }) {
    font = detail
    window.localStorage.setItem(STORAGE_KEY, detail)
  }
</script>

<style>
  @import '@talamh/sizing';

  article {
    min-height: 100%;
    max-width: var(--size-14);
    width: 100%;
  }

  div {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
    justify-content: flex-start;
  }
</style>

<svelte:head>
  <title>talamh.pub</title>
</svelte:head>

<div>
  <article>
    <Editor {font} />
  </article>

  <Menu {font} on:fontchange={handleFontChange} />
</div>
