<script context="module">
  export let el
</script>

<style>
  @import '@talamh/colors';
  @import '@talamh/sizing';

  button {
    align-items: center;
    border: 0;
    background: none;
    display: flex;
    height: var(--size-07);
    justify-content: center;
    padding: 0;
    width: var(--size-07);
  }

  button[aria-checked='false'] path {
    fill: var(--shade-09);
  }

  button:hover path {
    fill: var(--shade-06);
  }

  div {
    align-items: center;
    background-color: var(--shade-16);
    border-radius: var(--size-03);
    box-shadow: var(--shade-17) 0 0 0 rem(1px), color-mod(var(--shade-16) alpha(12%)) 0 rem(8px) rem(16px);
    color: var(--shade-01);
    display: flex;
    height: var(--size-07);
    position: absolute;
    transform: translateY(0) scale(1);
    transition: opacity 150ms ease-out-circ, transform 150ms ease-out-circ, visibility 0ms ease-in 0ms;
    will-change: transform;
  }

  div[aria-hidden='true'] {
    opacity: 0;
    transform: translateY(var(--size-04)) scale(0.8);
    transition-delay: 0ms, 0ms, 150ms;
    visibility: hidden;
  }

  path {
    fill: var(--shade-01);
    transition: fill 150ms ease-out-circ;
  }

  svg {
    height: var(--size-06);
    pointer-events: none;
    width: var(--size-06);
  }
</style>

<div aria-hidden="true" bind:this={el} role="toolbar">
  <button aria-checked="false" data-mark="strong">
    <svg viewBox="0 0 22 22">
      <title>Bold</title>
      <path
        d="M6 2a1 1 0 00-1 1v16a1 1 0 001 1h7c2.75 0 5-2.25 5-5 0-1.878-1.062-3.503-2.604-4.357A4.974 4.974 0 0017
        7c0-2.75-2.25-5-5-5H6zm1 2h5c1.669 0 3 1.331 3 3s-1.331 3-3 3H7V4zm0 8h6c1.669 0 3 1.331 3 3s-1.331 3-3 3H7v-6z" />
    </svg>
  </button>

  <button aria-checked="false" data-mark="em">
    <svg viewBox="0 0 22 22">
      <title>Italic</title>
      <path
        d="M9 2a1 1 0 00-1 1 1 1 0 001 1h3.559l-5.25 14H4a1 1 0 00-1 1 1 1 0 001 1h9a1 1 0 001-1 1 1 0
        00-1-1H9.441l5.25-14H18a1 1 0 001-1 1 1 0 00-1-1H9z" />
    </svg>
  </button>
</div>
