<script>
  import Textarea, { focus } from './Textarea.svelte'

  export let font

  function handleClick() {
    focus()
  }
</script>

<style>
  @import '@talamh/sizing';

  div {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 0 auto;
    min-height: 100%;
    padding: var(--size-08);
  }
</style>

<div on:click={handleClick}>
  <Textarea {font} />
</div>
