<script context="module">
  let view

  export function focus() {
    if (view && !view.focused) view.focus()
  }
</script>

<script>
  import { baseKeymap, toggleMark } from 'prosemirror-commands'
  import { undo, redo, history } from 'prosemirror-history'
  import { keymap } from 'prosemirror-keymap'
  import { Node } from 'prosemirror-model'
  import { ellipsis, emDash, inputRules, smartQuotes } from 'prosemirror-inputrules'
  import { schema } from 'prosemirror-schema-basic'
  import { EditorState } from 'prosemirror-state'
  import { EditorView } from 'prosemirror-view'
  import { onMount } from 'svelte'

  import ContextualToolbar from './ContextualToolbar.svelte'
  import selectionToolbar from './SelectionToolbar'

  export let doc = { content: [{ type: 'paragraph', content: [] }], type: 'doc' }
  export let font = 'serif'

  let el
  let view

  const plugins = [
    history(),
    inputRules({ rules: [...smartQuotes, ellipsis, emDash] }),
    keymap({ 'Mod-b': toggleMark(schema.marks.strong), 'Mod-i': toggleMark(schema.marks.em) }),
    keymap({ 'Mod-y': redo, 'Mod-z': undo }),
    keymap(baseKeymap),
    selectionToolbar(),
  ]
  // $: state = EditorState.create({ doc: Node.fromJSON(schema, doc), plugins, schema })
  // $: if (view && state) view.updateState(state)

  onMount(() => {
    function dispatchTransaction(transaction) {
      const newState = view.state.apply(transaction)
      if (view) view.updateState(newState)
      // if (transaction.docChanged) console.log(transaction.doc)
    }

    function handleKeyPress(view, event) {
      // console.log(view, event)
    }

    const state = EditorState.create({ doc: Node.fromJSON(schema, doc), plugins, schema })
    view = new EditorView(el, { dispatchTransaction, handleKeyPress, state })
  })
</script>

<style>
  @import '@talamh/colors';
  @import '@talamh/crauxford';
  @import '@talamh/sizing';
  @import '@talamh/teorann';
  @import '@talamh/westward-quay';

  div {
    align-items: stretch;
    color: var(--shade-16);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-feature-settings: 'dlig', 'kern';
    font-kerning: normal;
    font-size: rem(24px);
    font-variant-ligatures: discretionary-ligatures;
    hanging-punctuation: first;
    line-height: rem(36px);
    justify-content: stretch;
    text-rendering: optimizelegibility;
    white-space: pre-wrap;
  }

  div :global([contenteditable='true']) {
    outline: none;
  }

  div :global(::selection) {
    background-color: var(--blue-light);
    color: var(--shade-01);
  }

  div.monospace {
    font-family: var(--crauxford);
    font-size: rem(22px);
    line-height: rem(38px);
  }

  div.sans-serif {
    font-family: var(--westward-quay);
    font-size: rem(25px);
    line-height: rem(38px);
  }

  div.serif {
    font-family: var(--teorann);
    font-size: rem(24px);
    line-height: rem(36px);
  }

  div :global(em) {
    font-style: normal;
    font-variation-settings: 'ital' 1;
  }

  div :global(strong) {
    font-variation-settings: 'wght' 700;
  }

  div :global(em strong),
  div :global(strong em) {
    font-variation-settings: 'ital' 1, 'wght' 700;
  }
</style>

<div bind:this={el} class={font} />
<ContextualToolbar {schema} {view} />
