<style>
  @import '@talamh/sizing';

  article {
    align-items: stretch;
    display: grid;
    grid-column-gap: var(--size-06);
    grid-row-gap: var(--size-06);
    grid-template-columns: repeat(22, minmax(auto, var(--size-08)));
    grid-template-rows: var(--size-11) 1fr auto;
    justify-content: center;
    justify-items: stretch;
    margin: 0 auto;
    padding: var(--size-08) var(--size-06);
    max-width: rem(1738px);
  }
</style>

<article>
  <slot />
</article>
