<style>
  @import '@talamh/colors';
  @import '@talamh/rosmorris';
  @import '@talamh/teorann';
  @import '@talamh/sizing';

  aside {
    grid-column: 15 / span 5;
    grid-row: 2 / span 2;
  }

  figcaption {
    font-family: var(--teorann);
    font-size: rem(16px);
    font-variation-settings: 'ital' 1;
    margin-top: var(--size-03);
  }

  figure {
    margin: 0 0 var(--size-08) 0;
  }

  figure.framed {
    background-color: var(--shade-04);
    border: var(--shade-09) solid 1px;
    padding: var(--size-03);
  }

  figure.framed figcaption {
    font-family: var(--rosmorris);
    font-size: rem(12px);
    font-variation-settings: 'opsz' 12;
    margin-top: var(--size-03);
  }

  figure.framed img {
    background-color: white;
  }

  img {
    border: var(--shade-08) solid 1px;
    display: block;
    max-width: 100%;
  }
</style>

<aside>
  <figure class="framed">
    <img alt="A map of Teorann" src="/teorann.png" />
    <figcaption>The Borderlands and the location of Teorann.</figcaption>
  </figure>

  <figure>
    <img alt="Teorann in the summer" src="/teorann_summer.jpg" />
    <figcaption>A summer day in Teorann near the School of Roots, Herbs, and Medicinals.</figcaption>
  </figure>
</aside>
