<script>
  import Outline from './Outline.svelte'
</script>

<style>
  @import '@talamh/colors';
  @import '@talamh/sizing';
  @import '@talamh/rosmorris';
  @import '@talamh/teorann';
  @import '@talamh/westward-quay';

  div {
    grid-column: 1 / span 14;
    grid-row: 2 / span 1;
  }

  em {
    font-style: normal;
    font-variation-settings: 'ital' 1;
  }

  figure {
    margin: var(--size-08) calc(0rem - (var(--size-08) + var(--size-06)));
  }

  figcaption {
    color: var(--gray);
    font-family: var(--teorann);
    font-size: rem(18px);
    font-variation-settings: 'ital' 1, 'wght' 500;
    margin: var(--size-03) calc(var(--size-08) + var(--size-06)) 0 calc(var(--size-08) + var(--size-06));
  }

  h2 {
    font-family: var(--westward-quay);
    font-size: rem(32px);
    font-variation-settings: 'wght' 600;
    margin: 0;
  }

  img {
    border: var(--shade-08) solid 1px;
    max-width: 100%;
  }

  p {
    color: var(--shade-16);
    font-family: var(--teorann);
    font-size: rem(21px);
  }

  section {
    margin: 0 calc(var(--size-08) + var(--size-06));
  }

  section:not(:first-of-type) {
    margin-top: var(--size-08);
  }

  section.lead-in p {
    color: var(--shade-13);
    font-size: rem(24px);
  }

  section.lead-in p:first-of-type {
    margin-top: 0;
  }

  strong {
    font-variation-settings: 'wght' 700;
  }
</style>

<div>
  <section class="lead-in">
    <p>
      <strong>Teorann</strong>
      is a large city in
      <em>Northborder</em>
      , and the closest economic center to
      <em>the wild</em>
      . It sits on the banks of the
      <em>River Vildmark</em>
      , which provides it with transportation for importing and exporting and, in years past, protection from attacks
      from the wild. It is known for its many colleges and universities that are attended by people from well outside of
      <em>Fréamhú</em>
      to study.
    </p>
    <p>
      There is a large marketplace within the lesser walls of the city where many different foodstuffs and wares are
      sold after being brought in from the wild. The city is very old and has many ancient buildings that are still in
      everyday use. It is widely believed that Teorann was the first city to be founded in Fréamhú and that it was
      started by those who migrated out of the wild. Before
      <em>the Teacht</em>
      the city was regularly attacked by various groups, tribes and nations from within the wild. But since the
      universities started trading wares with the wild and the order of bronze helms was estabilished in
      <em>Kieran</em>
      , Teorann has been almost entirely peaceful.
    </p>
  </section>

  <Outline />

  <section>
    <h2>Universities & Colleges</h2>
    <p>
      Most of the colleges in Teorann have an area of study that they focus on while the universities are more general
      in their focus. Its not uncommon for students to attend a university first and then attend one of the colleges to
      further their studies in a specialized area afterwards.
    </p>

    <p>
      Students of the universities wear the school’s uniform, each school, having different colored robes and scarfs the
      they wear.
    </p>

    <figure>
      <img alt="Winter in Teorann" src="/teorann_winter.jpg" />
      <figcaption>A scene after a typical winter snowfall on the western edge of Teorann.</figcaption>
    </figure>

    <p>
      Students that attend the colleges adopt a monastic lifestyle for at least a year and up to six years as they fully
      commit to their area of study. A few of the colleges supply the ale that they make to the local taverns in the
      city. There is a college that reputably has the best ale but its product rarely leaves the walls of the school.
    </p>

    <p>
      There is a college of music and song in the middle of they city. Every hour, on the hour, a choir sings the let
      the town know what time it is. In the middle of the college campus there is a building shaped like an upside cone.
      Its shaped in such away that sounds of their sing flow up into the air and can be heard all over town.
    </p>
  </section>
</div>
