<style>
  @import '@talamh/colors';
  @import '@talamh/rosmorris';
  @import '@talamh/sizing';

  aside {
    grid-column: 20 / span 3;
    grid-row: 1 / span 3;
    position: relative;
  }

  dd {
    color: var(--shade-15);
    font-variation-settings: 'opsz' 12, 'wght' 400;
    margin: 0;
  }

  dl {
    align-items: start;
    display: grid;
    grid-column-gap: var(--size-04);
    grid-row-gap: var(--size-03);
    grid-template-columns: 1fr 1fr;
    font-family: var(--rosmorris);
    font-size: rem(13px);
    margin: 0;
  }

  dl:not(:first-of-type) {
    margin-top: var(--size-05);
  }

  div {
    border-left: var(--shade-05) solid 1px;
    margin-left: rem(-12px);
    padding-left: rem(11px);
    min-height: 100%;
  }

  dt {
    color: var(--shade-13);
    font-variation-settings: 'opsz' 12, 'wght' 500;
    justify-self: end;
    text-align: right;
  }
</style>

<aside>
  <div>
    <dl>
      <dt>Country</dt>
      <dd>Fréamhú</dd>

      <dt>Region</dt>
      <dd>Northborder</dd>
    </dl>

    <dl>
      <dt>Founded</dt>
      <dd>
        304
        <abbr title="Before Teacht">BT</abbr>
      </dd>
      <dt>Founded By</dt>
      <dd>
        <em>Unknown</em>
      </dd>
    </dl>

    <dl>
      <dt>Government Type</dt>
      <dd>Council</dd>
      <dt>Government Leadership</dt>
      <dd>Univerity Parlament</dd>
    </dl>

    <dl>
      <dt>Population</dt>
      <dd>1,000,000</dd>
    </dl>

    <dl>
      <dt>Sigil Tree</dt>
      <dd>Larch</dd>
    </dl>
  </div>
</aside>
