<script>
  const href = '#'
</script>

<style>
  @import '@talamh/colors';
  @import '@talamh/rosmorris';
  @import '@talamh/sizing';

  a {
    color: var(--blue-dark);
    text-decoration-color: color-mod(var(--blue-light) alpha(50%));
  }

  a:hover {
    color: var(--blue);
    text-decoration-color: var(--blue-light);
  }

  em {
    font-style: normal;
    font-variation-settings: 'ital' 1, 'opsz' 12;
  }

  footer {
    color: var(--shade-12);
    grid-column: 1 / span 14;
    grid-row-start: 3;
    margin-top: var(--size-06);
  }

  footer::before {
    background-color: var(--shade-09);
    content: ' ';
    height: 1px;
    display: block;
    margin: 0 auto var(--size-08) auto;
    width: var(--size-09);
  }

  ol {
    column-count: 3;
    column-gap: var(--size-06);
    column-width: auto;
    font-family: var(--rosmorris);
    font-size: rem(11px);
    font-variation-settings: 'opsz' 12, 'wght' 450;
    list-style: decimal outside;
    margin: 0 calc(var(--size-08) + var(--size-06));
    padding: 0;
  }

  li {
    break-inside: avoid;
    margin-bottom: var(--size-03);
  }

  li::marker {
    color: var(--shade-09);
  }
</style>

<footer>
  <ol>
    <li>
      <a {href}>
        <em>Letters to Faolan</em>
      </a>
      , Chapter 13
    </li>
    <li>
      <a {href}>"Baroque Art of Rome (ROME 211)"</a>
      . Trincoll.edu. Archived from the original on 30 May 2008. Retrieved 3 February 2010.
    </li>
    <li>
      <a {href}>
        <em>Letters to Faolan</em>
      </a>
      , Chapter 15
    </li>
    <li>Claudio Rendina: Roma Ieri, Oggi, Domani. Newton Compton, Roma, 2007, p. 17.</li>
    <li>
      <a {href}>
        <em>Letters to Faolan</em>
      </a>
      , Chapter 1
    </li>

    <li>
      <a {href}>
        <em>Letters to Faolan</em>
      </a>
      , Chapter 13
    </li>
    <li>
      <a {href}>"Baroque Art of Rome (ROME 211)"</a>
      . Trincoll.edu. Archived from the original on 30 May 2008. Retrieved 3 February 2010.
    </li>
    <li>
      <a {href}>
        <em>Letters to Faolan</em>
      </a>
      , Chapter 15
    </li>
    <li>Claudio Rendina: Roma Ieri, Oggi, Domani. Newton Compton, Roma, 2007, p. 17.</li>
    <li>
      <a {href}>
        <em>Letters to Faolan</em>
      </a>
      , Chapter 1
    </li>
  </ol>
</footer>
