<style>
  @import '@talamh/colors';
  @import '@talamh/rosmorris';
  @import '@talamh/sizing';
  @import '@talamh/teorann';

  h1 {
    color: var(--shade-15);
    font-family: var(--teorann);
    font-size: rem(64px);
    margin: var(--size-01) 0 var(--size-05) 0;
  }

  h2 {
    color: var(--gray-dark);
    font-family: var(--teorann);
    font-variation-settings: 'ital' 1, 'wght' 400;
    font-size: rem(24px);
    margin: 0;
  }

  h3 {
    color: var(--green-dark);
    font-family: var(--rosmorris);
    font-variation-settings: 'wdth' 50, 'wght' 600;
    font-size: rem(15px);
    margin: 0;
    text-transform: uppercase;
  }

  header {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 19;
    grid-row: 1 / span 1;
    justify-content: center;
  }
</style>

<header>
  <h3>City</h3>
  <h1>Teorann</h1>
  <h2>The gateway to the wild.</h2>
</header>
