<script>
  const href = '#'
</script>

<style>
  a {
    color: var(--blue-dark);
    text-decoration-color: color-mod(var(--blue-light) alpha(25%));
  }

  a:hover {
    color: var(--blue);
    text-decoration-color: var(--blue-light);
  }

  aside {
    background-color: var(--shade-03);
    border: var(--shade-06) 1px solid;
    display: flex;
    flex-direction: column;
    margin-top: var(--size-08);
    padding: var(--size-05) var(--size-07);
  }

  h2 {
    color: var(--shade-13);
    font-family: var(--rosmorris);
    font-size: rem(18px);
    font-variation-settings: 'wdth' 50, 'wght' 600;
    margin: 0 auto var(--size-05) auto;
    text-transform: uppercase;
  }

  aside > ol {
    column-count: 2;
    column-gap: var(--size-06);
    column-width: auto;
    font-family: var(--rosmorris);
    font-size: rem(16px);
    font-variation-settings: 'wght' 500;
    list-style: decimal;
    margin: 0;
    padding: 0;
  }

  ol ol {
    padding-left: calc(var(--size-06) - rem(1px));
    list-style: upper-alpha;
  }

  ol ol ol {
    list-style: lower-alpha;
  }

  li {
    break-inside: avoid;
  }
</style>

<aside>
  <h2>Article Outline</h2>

  <ol>
    <li>
      <a {href}>History</a>
      <ol>
        <li>
          <a {href}>Earliest History</a>
        </li>
        <li>
          <a {href}>The First Universities</a>
        </li>
      </ol>
    </li>
    <li>
      <a {href}>Demographics</a>
      <ol>
        <li>
          <a {href}>City Districts</a>
        </li>
        <li>
          <a {href}>Ethnicities</a>
        </li>
        <li>
          <a {href}>Social Classes</a>
        </li>
      </ol>
    </li>
    <li>
      <a {href}>Economy</a>
    </li>
    <li>
      <a {href}>Government</a>
    </li>
    <li>
      <a {href}>Culture</a>
      <ol>
        <li>
          <a {href}>Festivals and Events</a>
        </li>
        <li>
          <a {href}>Food and Regional Dishes</a>
          <ol>
            <li>
              <a {href}>Public Houses & Inns</a>
            </li>
          </ol>
        </li>
        <li>
          <a {href}>Muesums and Points of Interest</a>
        </li>
        <li>
          <a {href}>Universities & Colleges</a>
        </li>
      </ol>
    </li>
  </ol>
</aside>
