:root {
  --rosmorris: 'Rosmorris', sans-serif;
}

@font-face {
  font-family: 'Rosmorris';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  src: url('../dist/Rosmorris.woff2') format('woff2-variations');
}
