:root {
  /**
   * Shades
   */

  --shade-01: #fbfaf3;
  --shade-02: #f8f7ec;
  --shade-03: #f5f3e3;
  --shade-04: #f3f0dc;
  --shade-05: #f0ead2;
  --shade-06: #ebe1c3;
  --shade-07: #ebdbb2;
  --shade-08: #d5c4a1;
  --shade-09: #bdae93;
  --shade-10: #a89984;
  --shade-11: #928374;
  --shade-12: #7c6f64;
  --shade-13: #665c54;
  --shade-14: #504945;
  --shade-15: #3c3836;
  --shade-16: #32302f;
  --shade-17: #282828;
  --shade-18: #1d2021;

  /**
   * Colors
   */

  --aqua: #689d6a;
  --aqua-light: #8ec07c;
  --aqua-dark: #427b58;

  --blue: #458588;
  --blue-light: #83a598;
  --blue-dark: #076678;

  --gray: #928374;
  --gray-light: #a89984;
  --gray-dark: #7c6f64;

  --green: #98971a;
  --green-light: #b8bb26;
  --green-dark: #79740e;

  --orange: #d65d0e;
  --orange-light: #fe8019;
  --orange-dark: #af3a03;

  --purple: #b16286;
  --purple-light: #d3869b;
  --purple-dark: #8f3f71;

  --red: #cc241d;
  --red-light: #fb4934;
  --red-dark: #9d0006;

  --yellow: #d79921;
  --yellow-light: #fabd2f;
  --yellow-dark: #b57514;
}
